/********** CSS **********/

body {
    background-color: black;
    color: antiquewhite;
    font-family:inherit
}

h1 {color: red;
    font-size: 165px;
}

h2 {
    color:red;
}

h3 {
    color: crimson;
}

